h1 {
  font-weight: bold;
  color: #8B4513;
  font-size: 50px;
  margin-top:50px;
}

h2 {
    margin-top: 30px;
    color: #800000;
}

body {
    text-align: center;
    background: white url("images/background.jpg") no-repeat;
    background-size: 100%;
}

a:link, a:visited {
  background-color: #CD853F;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 15px;
}

a:hover, a:active {
  background-color: #A0522D;
}

.background_farmer {
    background: rgba(203, 134, 47, 0.4);
    border-top: 1px dashed #8B4513;
    border-bottom: 1px dashed #8B4513;
    width: 50%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
 }

 .background_farmer:hover, .background_farmer:active {
  background: rgba(203, 134, 47, 0.8);
}

p {
    opacity: 1;
    font-size: 17px;
    color: #3F250B;
}
